<br>
<div class="container">
    <div class="text-center">
        <img src="../../../assets/user.jpg" class="rounded rounded-circle w-25" alt="">
    </div>
    <h2 class="text-center color">Buenas noches Uniminuto</h2>
    <hr>
    <h3>En el 2021:</h3>
    <h4>Desempeño: Medio <i class="fa fa-heart" aria-hidden="true"></i></h4>
    <p>Te recomendamos activar alarmas de sueño para mejorar tu rendimiento</p>
    <canvas baseChart [data]="barChartData" [options]="barChartOptions" [type]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
      </canvas>
    <hr>
    <button type="button" [routerLink]="[ '/Alarmas']" class="btn btn-primary btn-lg btn-block boton">Activar Alarmas</button>
    <button type="button" [routerLink]="[ '/Mes']" class="btn btn-primary btn-lg btn-block boton">Reporte Mensual</button>
</div>