<br>
<div class="container">
    <div class="text-center">
        <img src="../../../assets/user.jpg" class="rounded rounded-circle w-25" alt="">
    </div>
    <h3 class="color text-center">Buenas Noches Uniminuto</h3>
    <hr>
    <h4>Estas son tus alarmas:</h4>
    <br>
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Alarma Semanal</h5>
                <p class="card-text">Esta alarma te avisara cuando debes ir a la cama entre semana en base a tus métricas</p>
                <h3><span class="badge badge-pill badge-primary">Se activa a las 8:00 PM</span></h3>
                <button type="button" class="btn btn-lg btn-primary btn-block boton"><i class="fa fa-clock-o" aria-hidden="true"></i> Desactivar</button>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Alarma Fines de Semana</h5>
                <p class="card-text">Esta alarma te avisara cuando debes ir a la cama los fines de semana en base a tus métricas</p>
                <h3><span class="badge badge-pill badge-primary">Se activa a las 10:00 PM</span></h3>
                <button type="button" class="btn btn-lg btn-secondary btn-block"><i class="fa fa-clock-o" aria-hidden="true"></i> Activar</button>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Nueva Alarma</h5>
                <p class="card-text">Agrega una alarma para ir a dormir totalmente personalizada</p>
                <h3><span class="badge badge-pill badge-primary"><i class="fa fa-pencil" aria-hidden="true"></i> Establercer Hora</span></h3>
                <button type="button" class="btn btn-lg btn-success btn-block"><i class="fa fa-clock-o" aria-hidden="true"></i> Agregar</button>
            </div>
        </div>
    </div>
</div>