/* You can add global styles to this file, and also import other style files */

.boton {
    background-color: blueviolet !important;
    border-color: blueviolet !important;
}

.color {
    color: blueviolet !important;
}

.negrita {
    font: bold !important;
    font-size: 1.2rem;
}